#APPLICATION
GOINFRE_PATH=
NODE_ENV=
PORT=
HOST=
DB_PATH=
ALLOWED_ORIGINS=
#SECURITY
SESSION_SECRET=<put 32 chars here>
API_KEY=
#GRAFANA
GF_SECURITY_ADMIN=
GF_SECURITY_ADMIN_PASSWORD=
#OAUTH
CLIENT_ID=
CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
#BLOCKCHAIN
FUJI_RPC_URL=
PRIVATE_KEY=
