.auth-button-container {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 30px;
  }

  .auth-button {
	background: var(--main-color);
	padding: 15px 60px;
	border: none;
	border-radius: 45px;
	color: white;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	font-family: Arial;
	transition: opacity 0.15s;
  }

  .auth-button:hover {
	opacity: 0.7;
  }

  .sign-up-page
  {
	display: none;
	padding: 50px;
	text-align: center;
  }
  
  .log-in-page {
  display: none;
  padding: 50px;
  text-align: center;
}

.auth-form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form input {
  padding: 12px;
  font-size: 16px;
}

.auth-submit-button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-submit-button:hover {
  opacity: 0.8;
}
