.auth-button-container {
	display: flex;
  align-items: center;
	justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.auth-button {
	background: var(--main-color);
	padding: 15px 60px;
	border: none;
	border-radius: 45px;
	color: var(--bg-color-white-nine);
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	font-family: Arial;
	transition: opacity 0.15s;
}

.auth-button:hover {
	opacity: 0.7;
}

#sign-up-page,
#log-in-page {
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.auth-form h2 {
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

.auth-form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  background: var(--bg-color-white-seven);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.auth-form input {
  padding: 15px;
  font-size: 18px; 
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background: var(--bg-color-white-seven)
}

.auth-form input:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

.auth-submit-button {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-submit-button:hover {
  background: #3a3230;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.signup-login-btns {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-left: 10px;
}

.sign-up-button {
  margin-right: 10px;
  background-color: var(--bg-color-white-seven);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.log-in-button {
  margin-right: 10px;
}

.play-connect-wallet-btns-hidden,
.signup-login-btns-hidden {
  display: none;
}

.connect-wallet-btn::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.connect-wallet-btn.disconnected::before {
  background-color: #d9534f;
}

.connect-wallet-btn.connected::before {
  background-color: #4CAF50;
}
