.game-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 80px;
}

.game-option-1,
.game-option-2 {
  width: 300px;
  height: 300px;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 50px;
  font-family: Arial;
  color: var(--main-color);
  background-color: var(--bg-color-white-seven);

  transition: background-color 0.15s;
}

.game-option-1 {
  margin-right: 30px;
}

.game-option-1:hover,
.game-option-2:hover {
  background-color: rgb(240, 238, 238);
}

.game-option-clicked {
  background-color: rgb(240, 238, 238);
}

.start-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  background: var(--main-color);
  padding: 20px 100px;
  border: none;
  border-radius: 45px;
  color: var(--bg-color-white-nine);
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  transition: opacity 0.15s;
}

.start-button:hover {
  opacity: 0.7;
}
