.game-window {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameCanvas {
  border: 2px solid var(--border-color);
  border-radius: 20px;
  display: block;
}
