:root {
  --main-color: rgb(70, 61, 61);
  --border-color: rgb(165, 162, 162);
  --bg-color: rgb(247,243,237);
  --bg-color-white-seven: rgba(255, 255, 255, 0.7);
  --bg-color-white-nine: rgba(255, 255, 255, 0.9);
}

html, body {
  height: 100%;
}

section {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial;
  background-color: var(--bg-color);
}

p {
  margin: 0;
}

section > .back_btn {
  position: absolute;
  top: 16px;
  left: 16px;
}
