:root {
  --main-color: rgb(70, 61, 61);
  --border-color: rgb(165, 162, 162);
  --bg-color: rgb(247,243,237);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial;
  background-color: var(--bg-color);
}

p {
  margin: 0;
}
