@import "tailwindcss";

@theme {
	--main-color: rgb(70, 61, 61);
  --border-color: rgb(165, 162, 162);
  --bg-color: rgb(247,243,237);
  --bg-color-white-seven: rgba(255, 255, 255, 0.7);
  --bg-color-white-nine: rgba(255, 255, 255, 0.9);

	--animate-bob: bob 1.6s ease-in-out infinite;

	@keyframes bob {
		0%, 100% { transform: translateY(0); }
		50% { transform: translateY(-14px); }
	}
}
