#welcome-page,
#choose-mode-page,
#game-page,
#tournament-page,
#tournament-page-player-aliases,
#log-in-page,
#sign-up-page,
#game-ready-page,
#wallet-info-page,
#winner-page
{
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}
/* {
  display: none;
} */

#welcome-page:target,
#choose-mode-page:target,
#game-page:target,
#tournament-page:target,
#tournament-page-player-aliases:target,
#log-in-page:target,
#sign-up-page:target,
#wallet-info-page:target,
#winner-page {
  display: initial;
}
#game-ready-page:target
{
    display: flex; 
    position: relative;
}