#welcome-page,
#choose-mode-page,
#game-page,
#tournament-page,
#tournament-page-player-aliases,
#log-in-page,
#sign-up-page,
#game-ready-page,
#wallet-info-page,
#winner-page,
#profile-page,
#settings-page
{
  display: none;
}

#welcome-page:target,
#choose-mode-page:target,
#game-page:target,
#tournament-page:target,
#tournament-page-player-aliases:target,
#log-in-page:target,
#sign-up-page:target,
#wallet-info-page:target,
#profile-page:target,
#settings-page:target,
#winner-page:target {
  display: flex;
}
#game-ready-page:target
{
    display: flex; 
    position: relative;
}
