#enter-aliases-hint {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-aliases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.player-alias-input {
  border-radius: 5px;
  border: 2px solid var(--border-color);
  width: 270px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 10px;
  background-color: var(--bg-color-white-seven);
}

.player-alias-input::placeholder {
  color: var(--main-color);
}

.next-btn-after-aliases {
  border: none;
  padding: 10px 50px;
  margin-top: 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  color: var(--bg-color-white-nine);
  background-color: var(--main-color);
  cursor: pointer;
  transition: opacity 0.15s;
}

.next-btn-after-aliases:hover {
  opacity: 0.7;
}