.user-menu-button-container {
	display: flex;
  justify-content: right;
	margin-top: 10px;
  margin-right: 10px;
}

.user-menu-button-container-hidden {
	display: none;
}

.user-menu-button {
	background: var(--bg-color-white-seven);
	padding: 15px 60px;
	border: 2px solid var(--main-color);
	border-radius: 45px;
	color: var(--main-color);
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	font-family: Arial;
	transition: opacity 0.15s;
}

.user-menu-button:hover {
	opacity: 0.7;
}

.user-dropdown {
  position: absolute;
  top: 73px;
  right: 10px;
  background: var(--bg-color-white-seven);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  min-width: 160px;
  padding: 8px;
	justify-content: center;
}

.user-dropdown div,
.user-dropdown button {
	display: block;
  width: 100%;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: var(--main-color);
  background: none;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.user-dropdown div:hover,
.user-dropdown button:hover {
  background: #f5f5f5;
}
