.wallet-info-container {
    background: #fff;
    padding: 24px;
    text-align: center;
    color: var(--main-color);

    min-width: 420px;

    border-radius: 16px;
    border: 1px solid #e5e7eb;
    box-shadow: none;
}

.wallet-details {
    text-align: left;
    margin: 1.5rem 0;
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 5px;
}

.wallet-details p {
    margin: 0.5rem 0;
}

.disconnect-and-back-btns {
    display: flex;
    gap: 12px;
}
